<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>Scireader:{{ title }}</title>
    {% else %}
    <title>Scireader</title>
    {% endif %}
  </head>
  <body>
  <div class="container">


        <div class="page-header">
    <h1>Scireader <small> keyword search in scientific publications</small></h1>
    </div>
<ul class="nav nav-tabs">
  <li role="presentation" {% if pname == 'sea_ice' %} class="active" {% endif %}><a href="/index">Sea ice</a></li>
  <li role="presentation" {% if pname == 'arctic_ocean' %} class="active" {% endif %} ><a href="/arctic_ocean">Arctic Ocean</a></li>
  <li role="presentation" {% if pname == 'glacier' %} class="active" {% endif %} ><a href="/glacier">Glacier</a></li>
  <li role="presentation" {% if pname == 'sea level' %} class="active" {% endif %} ><a href="/sea_level">Sea level</a></li>
  <li role="presentation" {% if pname == 'journals' %} class="active" {% endif %}><a href="/journals">Journals</a></li>
</ul>


{% block content %}{% endblock %}

<h4>Contact: Nikolay Koldunov <a href="mailto:koldunovn@gmail.com">koldunovn@gmail.com</a></h4>


 
   </div> 
    
    
  </body>
</html>
