
from flask import Flask
from flask import render_template, flash, json, request, redirect, url_for
import os
from find_terms import find_terms

app = Flask(__name__)

APP_ROOT = os.path.dirname(os.path.abspath(__file__))

ifile = open(os.path.join(APP_ROOT,'static','keyword_list.json'))
keywords = json.load(ifile)

{% for keyword in keywords %}
{% if keyword.index == "True" %}@app.route('/')
@app.route('/index'){% endif %}
@app.route('/{{ keyword.page_name }}')
def {{ keyword.page_name }}():
    
    ifile =open(os.path.join(APP_ROOT,'static', '{{ keyword.output_file }}'))
    posts = json.load(ifile)
    ifile.close()
    pname = '{{ keyword.page_name }}'
    return render_template('index.html',
                           title="{{ keyword.page_name }}",
                           posts=posts,
                           pname=pname,
                           keywords=keywords)
{% endfor %}

@app.route('/journals')
def journals():

    ifile =open(os.path.join(APP_ROOT,'static','journal_list.json'))
    journals = json.load(ifile)
    ifile.close()
    pname = 'journals'

    return render_template('journals.html',
                           title='List of journals',
                           journals=journals,
                           pname=pname,
                           keywords=keywords)
    
@app.route('/search', methods=['GET', 'POST'])
def search():
    if request.method == 'POST':
        rres = request.form['searchphrase']
        posts = find_terms(rres)
        return render_template('search_results.html', 
                                rres=rres,
                                posts=posts,
                                request=rres,
                                keywords=keywords)
    pname = 'search'
    return render_template('search.html',
                           title='Search',
                           journals=journals,
                           pname=pname,
                           keywords=keywords)

if __name__ == "__main__":
    app.run()